html, body {
	height: 100%;
   }
body {
	background: #eee;
	justify-content: center;
	align-items: center;
}
@keyframes modalshow
{
   from{
	   opacity: 0;
   }

to{
   opacity: 1;
}
}
.modal {
	width: 75%;
	height:43%;
	background: #fff;
	border: 1px solid #ccc;
	transition: 1.1s ease-out;
	box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
	filter: blur(0);
	transform: scale(1);
	opacity: 1;
	visibility: visible;
	position: fixed;
	z-index:1 ;
	animation: modalshow 1s linear;
	
}
.modal.off {
	opacity: 0;
	visibility: hidden;
	filter: blur(8px);
	transform: scale(0.33);
	box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}

@media (prefers-reduced-motion) {
	.modal {
		offset-path: none;
   }
}
.modal h2 {
	border-bottom: 1px solid #ccc;
	padding: 1rem;
	margin: 0;
}
.modal .content {
	margin-top: 50px;
   display: inline-block;
   text-align: center;
   color: #2c2c34;
   border-radius: 15px;
   background-color: #fff;
   /* -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
   -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
   box-shadow: 35px 25px 50px 0px rgba(229,232,237,1); */
   margin-top: 50px;
   margin-left: 30px;
   margin-right: 30px;
}
.modal .content p{
display: inline-block;
   margin: 0;
   font-size: 36px;
   line-height: 55px;
}
.modal .actions {
align-items:center
}
.modal .actions button {
	border: 0;
	background: #78f89f;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	line-height: 1;
}
.toggle-button {
	position: absolute;
	margin-left: 40%;
}
 
 