/*Fonts*/

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('fonts/ProximaNova-Regular.ttf') format('truetype'),
         url('fonts/ProximaNova-Regular.woff') format('woff'),
         url('fonts/ProximaNova-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('fonts/ProximaNova-Bold.ttf') format('truetype'),
         url('fonts/ProximaNova-Bold.woff') format('woff'),
         url('fonts/ProximaNova-Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Black';
    src: url('fonts/ProximaNova-Black.ttf') format('truetype'),
         url('fonts/ProximaNova-Black.woff') format('woff'),
         url('fonts/ProximaNova-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*Fonts*/
html {
    scroll-behavior: smooth;
  }
.clearfx {
    clear: both;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 25px 2px rgba(219,219,219,0.3);
    -moz-box-shadow: 0px 5px 25px 2px rgba(219,219,219,0.3);
    box-shadow: 0px 5px 25px 2px rgba(219,219,219,0.3);
    z-index: 0;
}
.header__burger {
    display: none;
}
.container__header {
    max-width: 1300px;
    margin: 0 auto;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.dot__color {
    color: #2155ee;
}
#cursor
{
cursor: pointer;
}
body {
    background-color: #f6f6f6;
}
.container__head {
    background-image: url(img/headerBackground.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: -590px;
    background-position-x: -690px;
}
.menu {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.menu__logo {
    display: flex;
    align-items: center;
    vertical-align: top;
    font-family: 'ProximaNova-Black';
    color: #2155ee;
    font-size: 38px;
}
.menu__logo p {
    margin: 0;
}
.menu__logo img
{
width: 240px;
height:70px;
}
.menu__language {
    display: flex;
    position: relative;
    background-image: url(img/russia.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-y: -4px;
    background-position-x: left;
    margin-left: 90px;
}
.menu__language:hover p {
    color: #2155ee;
}
.menu__language:hover .menu__langSelect {
    display: block;
    margin-top: 20px;
}
.menu__language p {
    font-family: 'ProximaNova-regular';
    color: #2c2c34;
    font-size: 18px;
    padding-left: 35px;
}
.menu__language p {
    display: inline-block;
}
.menu__navigate  {
    list-style: none;   
    color: #2c2c34;
}
.menu__navigate li {
    display: inline-block;
    font-family: 'ProximaNova-Bold';
    font-size: 20px;
    margin-right: 80px;
}
.menu__navigate li:last-child {
    margin-right: 0px;
}
.menu__navigate a {
    text-decoration: none;
    color: #2c2c34;
}
.menu__navigate a:hover {
    color: #2155ee;
}
.menu__langSelect {
    display: none;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    z-index: 5;
    -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
}
.menu__langSelect li {
    list-style: none;   
    color: #2c2c34;
    display: inline-block;
    margin-top: 25px;
    padding-left: 35px;
}
.menu__langSelect a{
    color: #2c2c34;
    text-decoration: none;
}

.menu__langSelect a:hover {
    color: #2155ee;
}

.menu__langSelect li:last-child {
    margin-bottom: 25px;
}
.menu__langSelect ul {
    padding: 0px 25px 0px 25px;
    margin: 0;
}
.ukr__lang {
    background-image: url(img/ukraine.svg);
    background-repeat: no-repeat;
}
.eng__lang {
    background-image: url(img/united-kingdom.svg);
    background-repeat: no-repeat;
}
.pol__lang {
    background-image: url(img/poland.svg);
    background-repeat: no-repeat;
}
.deu__lang {
    background-image: url(img/germany.svg);
    background-repeat: no-repeat;
}
.banner {
    padding-top: 80px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}
.head__lineblack {
    display: block;
    position: absolute;
    top: -79px;
    right: 51%;
}
.head__lineblue {
    display: block;
    position: absolute;
    top: 600px;
    left: -31px;
}
.banner__block {
    background-color: #fff;
    border-radius: 15px;
    position: relative;
}
.banner__container {
    max-width: 1020px;
    display: block;
    margin-right: 0;
}
#textAreaStyle{
    padding-top: 20px;
}
.triangle-right {
    position: absolute;
    top: 124px;
    right: -21px;
    width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 25px solid #fff;
	border-bottom: 26px solid transparent;
}
.banner__decor_1 {
    position: absolute;
    top: 99px;
    right: 200px;
    font-family: 'ProximaNova-Black';
    font-size: 80px;
    color: #e5e8ed;
}
.banner__decor_2 {
    position: absolute;
    left: 338px;
    bottom: 109px;
    font-family: 'ProximaNova-Black';
    font-size: 80px;
    color: #e5e8ed;
}
.banner_img {
    display: inline-block;
    left: 0;
    top: 107px;
    position: absolute;
    background-image: url(img/imgHeader.png);
    background-repeat: no-repeat;
    background-color: #fff;
    padding: 90px;
    background-position: center;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    z-index: 3;
}
.banner__block .reg__title {
    max-width: 60%;
    padding-left: 60px;
}
.big__title {
    font-family: 'ProximaNova-Black';
    font-size: 72px;
    color: #2c2c34;
    text-transform: uppercase;
}
.mid__title {
    font-family: 'ProximaNova-Regular';
    font-size: 36px;
    color: #2c2c34;
}
.banner__block .mid__title {
    margin-top: 20px;
}
.reg__title {
    font-family: 'ProximaNova-Regular';
    font-size: 24px;
    color: #2c2c34;
    line-height: 35px;
    /* text-align: center; */
}
.banner {
    max-width: 1300px;
    display: flex;
    justify-content: flex-end;
}
.banner__container {
    background-color: #fff;
    border-radius: 15px;
}
.banner__block {
   padding: 115px 115px 115px 340px;
   max-width: 440px;
   -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
}
.banner__block p {
    margin: 0;
    display: inline-block;
}
.banner__buttons {
    margin-top: 50px;
}
.banner__block .reg__title {
    margin-top: 30px;
}
.banner__btn {
    margin-right: 25px;
    display: inline-block;
    vertical-align: top;
    font-family: 'ProximaNova-Bold';
    font-size: 18px;
    text-transform: uppercase;
    background-color: #2155ee;
    border-radius: 50px;
    border: none;
    color: #fff;
    padding: 34px;
    -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    transition-property: background-color;
    transition-duration: 0.5s;
}
.banner__btn:hover {
    background-color: #fff;
    color: #2155ee;
}
.banner__btn:focus {
    outline: none;
}
.banner__btn__call {
    display: inline-block;
    vertical-align: top;
    background-image: url(img/telephone.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2155ee;
    background-size: 40px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    padding: 44px;
    -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    transition-property: background-color;
    transition-duration: 0.5s;
}
.banner__btn__call:hover {
    background-color: orange;
}
.banner__btn__call:focus {
    outline: none;
}
.container__iconslist {
    position: relative;
    margin-top: 37px;
    background-color: #fff;
}
.iconslist {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    /* padding-top: 100px; */
}
.iconlist__decor_1 {
    font-family: 'ProximaNova-Black';
    font-size: 80px;
    color: #e5e8ed;
    /* margin-left: 20px; */
}
.iconlist__decor_2 {
    position: absolute;
    bottom: -80px;
    left: 0px;
    font-family: 'ProximaNova-Black';
    font-size: 80px;
    color: #e5e8ed;
}
.iconlist__redline {
    position: absolute;
    right: 440px;
    top: -54px;
}
.iconslist .big__title {
    /* margin-top: px; */
}
.iconslist__item {
    display: inline-block;
    vertical-align: top;
    width: 21%;
}
.item__back {
    box-sizing: border-box;
    align-items: center;
    padding: 9%;
    border-radius: 15px;
    -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
}
.item__front {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 20%;
    border-radius: 15px;
    -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
}
.iconslist__items_top {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    vertical-align: top;
    margin-top: 50px;
}
.iconslist__items_bot {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    vertical-align: top;
}
.iconslist__item p {
    color: #2c2c34;
    text-align: center;
}
.items__one {
    position: relative;
}
.items__krest {
    position: absolute;
    left: -133px;
    top: 121px;
}
.items__krest-2 {
    position: absolute;
    right: -133px;
    top: 121px;
}
.items__krest-3 {
    position: absolute;
    left: -133px;
    top: 563px;
}
.items__line-blue {
    position: absolute;
    right: -319px;
    top: 510px;
}
.items__line-red {
    position: absolute;
    left: -342px;
    top: 957px;
}
.main-wrapper {
    width: 100%;
    overflow: hidden;
}
.items__two .iconslist__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
    width: calc((100% - 10% *3)/4);
}
.iconslist__text {
    display: inline-block;
    vertical-align: top;
    max-width: 42%;
}
.iconslist__text p {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
}
.iconslist__text p:first-child {
    margin-top: 0;
}
.container__description {
    max-width: 1300px;
    margin: 0 auto;
}
.container__description .reg__title {
    font-size: 36px;
}
.container__description__block {
    margin-top: 50px;
    margin-bottom: 100px;
    display: inline-block;
    padding: 100px 100px;
    text-align: center;
    color: #2c2c34;
    border-radius: 15px;
    background-color: #fff;
    -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
}
.container__description__block p {
    display: inline-block;
    margin: 0;
    font-size: 36px;
    line-height: 55px;
}
.color__blue {
    color: #2155ee;
}
.color__red {
    color: #ff413a;
}
.container__benefits{
    margin: 0 auto;
}
.benefits__img-1 {
    position: absolute;
    top: -2px;
    left: -800px;
}
.benefits__img-2 {
    position: absolute;
    top: -370px;
    left: 105%;
}
.benefits__img-3 {
    position: absolute;
    top: -140px;
    left: 1060px;
}
.benefits__block {
    max-width: 60%;
    padding-left: 25%;
    margin-top: 250px;
    margin-bottom: 250px;
}
.benefits__text {
    position: relative;
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
}
.benefits__text p {
    margin: 0;
}
.benefits__text p:first-child {
    color: #2c2c34;
}
.benefits__text .big__title {
    margin-top: 60px;
}
.benefits__text .reg__title {
    margin-top: 60px;
}
.container__contact {
    background-color: #fff;
}
.contact__block {
    max-width: 1300px;
    margin: 0 auto;
}
.contact__block .reg__title {
    font-family: 'ProximaNova-Black';
    font-size: 24px;
    color: #2c2c34;
}
.contact__block .banner__btn  {
    background-color: #ff413a;
    color: #fff;
}
.contact__block .banner__btn:hover  {
    background-color: #2155ee;
    color: #fff;
}
.contact__block p{
   margin: 0;
   max-width: 34%;
   text-transform: uppercase;
}
.contact__block a {
    text-decoration: none;
    color:#fff;
}
.contact__block {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.container__projects{
    max-width: 1300px;
    margin: 0 auto;
}
.projects .banner__decor_1 {
    top: -92px;
    right: 367px;
}
.projects .banner__decor_2 {
    bottom: -142px;
    left: 0;
    margin: 0;
}
.projects__items {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.projects {
    margin-top: 100px;
    position: relative;
}
.projects__item {
    background-color: #fff;
    max-width: 47%;
    border-radius: 15px;
}
.projects__item:hover {
    -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
}
.projects__item a{
    color: #2c2c34;
    text-decoration: none;
}
.projects__item a:hover {
    color: #2155ee;
}
.projects__img {
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    height: 365px;
}
.projects__item p {
    margin: 0;
}
.projects__item .mid__title {
    margin-top: 50px;
    text-align: center;
}
.projects__item .reg__title {
    margin-top: 15px;
    text-align: center;
    padding-bottom: 50px;
}
.projects__text {
    max-width: 80%;
    margin: 0 auto;
}
.projects__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    flex-grow: 1;
}
.projects__logo {
    margin-top: 100px;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 0 20px;
}
#az{
    margin-top: 50px;
}
.projects__logo img{
    max-width: 200px;
    max-height: 200px;
}
.container__form {
    margin-top: 100px;
    background-color: #fff;
}
.container__contacttext {
    display: inline-block;
    vertical-align: top;
    margin-top: 100px;
    max-width: 40%;
    position: relative;
}
.container__contacttitle {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}
.container__contacttext p {
    margin: 0;
}
.container__contacttext .reg__title {
    max-width: 70%;
    margin-top: 100px;
    padding-bottom: 310px;
}
.container__contacttext .banner__decor_1 {
    top: -11px;
    right: -57px;
}
.container__contacttext .banner__decor_2 {
    left: 0;
    bottom: -42px;
}
.form {
    right: 0;
    display: inline-block;
    position: absolute;
    vertical-align: top;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
}
.form__block {
    display: inline-block;
    padding: 0px 70px 0px 70px;
    margin-top: 70px;
}
.form__input {
    display: block;
    width: 470px;
    box-sizing: border-box;
    padding: 0px 0px 0px 40px;
    margin-top: 30px;
    height: 75px;
    border-radius: 15px;
    border-style: solid;
    border-color: #e9e9e9;
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 24px;
    line-height: 1;

}
.form__input:hover {
    border-color: orange;
}
.form__input:focus {
    outline: none;
}
.form button {
    margin: 30px 0px 70px 0;
}
.form__input:first-child {
    margin-top: 0;
}
.footer__contacts {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}
.footer__block {
    margin-top: 100px;
}
.footer__block p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    color:#2c2c34;
}

.footer__social a {
    text-decoration: none;
}
.footer_phone {
    display: inline-block;
    vertical-align: top;
}
.footer__email {
    display: inline-block;
    vertical-align: top;
}
.footer__social {
    display: inline-block;
    vertical-align: top;
}
.footer__contacts .big__title {
    margin-top: 100px;
}
.footer__block {
    display: flex;
    justify-content: space-between;
}
.footer_phone .reg__title:last-child {
    margin-left: 20px;
}
.footer__email .reg__title:last-child {
    margin-left: 20px;
}
.footer__social a {
    margin-left: 20px;
}
.footer__container {
    margin-top: 100px;
    background-color: #fff;
}
.footer__width {
    max-width: 1300px;
    margin: 0 auto;
}
.footer__contacts  .banner__decor_1 {
    top: -91px;
    right: 800px;
}
.footer__contacts  .banner__decor_2 {
    left: 0;
    bottom: -222px;
}
.footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px 80px 0px;
}
.footer__logo p {
    margin: 0;
}
.footer__logo .big__title {
    font-size: 48px;
    color: #2155ee;
    width: 240px;
    height: 70px;
}
.footer__logo .reg__title {
    font-size: 18px;
    color: #9c9c9c;
}
.footer__social svg:hover {
    fill: #ff413a;
}

@media screen and (max-width: 1280px) {
    .container__header {
        max-width: 1100px;
    }
    .menu__navigate li {
        margin-right: 80px;
    }
    .banner {
        max-width: 1100px;
    }
    .banner_img {
        top: 135px;
        padding: 58px;
    }
    .banner__block {
        max-width: 373px;
    }
    .banner__block .reg__title {
        max-width: 100%;
    }
    .iconlist__redline {
        right: 230px;
    }
    .iconslist {
        max-width: 1100px;
    }
    .iconlist__decor_1 {
        right: 540px;
    }
    .container__description {
        max-width: 1100px;
    }
    .contact__block {
        margin: 0 auto;
        max-width: 1100px;
    }
    .container__projects {
        max-width: 1100px;
    }
    .projects .banner__decor_1 {
        right: 171px;
    }
    .container__contacttitle {
        max-width: 1100px;
    }
    .benefits__img-2 {
        top: -290px;
        left: 90%;
    }
    .form__input {
        width: 420px;
    }
    .container__contacttext .banner__decor_1 {
        right: -99px;
    }
    .footer__contacts {
        max-width: 1100px;
    }
    .footer__contacts .banner__decor_1 {
       right: 589px;
    }
    .footer__width {
        max-width: 1100px;
    }
    .menu__logo img
{
width: 200px;
height:70px;
}
}

@media screen and (max-width: 1100px) {
    .container__header {
        max-width: 1000px;
    }
    .menu__navigate li {
        margin-right: 50px;
    }
    .banner {
        max-width: 1000px;
    }
    .banner_img {
        top: 158px;
        padding: 35px;
    }
    .banner__block {
        max-width: 372px;
        padding: 115px 75px 115px 340px;
    }
    .banner__decor_1 {
        right: 179px;
    }
    .banner__block .reg__title {
        max-width: 100%;
    }
    .iconlist__redline {
        right: 230px;
    }
    .iconslist {
        max-width: 1000px;
    }
    .iconlist__decor_1 {
        right: 450px;
    }
    .container__description {
        max-width: 1000px;
    }
    .contact__block {
        margin: 0 auto;
        max-width: 1000px;
    }
    .container__projects {
        max-width: 1000px;
    }
    .projects .banner__decor_1 {
        right: 84px;
    }
    .container__contacttitle {
        max-width: 1000px;
    }
    .form__input {
        width: 340px;
    }
    .form__block {
        padding: 0px 60px 0px 60px;
    }
    .container__contacttext .banner__decor_1 {
        right: -130px;
    }
    .footer__contacts {
        max-width: 1000px;
    }
    .footer__contacts .banner__decor_1 {
       right: 490px;
    }
    .footer__width {
        max-width: 1000px;
    }
}
@media screen and (max-width: 1024px) {
    .container__header {
        max-width: 900px;
    }
    .menu__navigate li {
        margin-right: 30px;
    }
    .menu__language {
        margin-left: 50px;
    }
    .banner {
        max-width: 900px;
    }
    .banner_img {
        background-size: 260px;
        top: 138px;
        padding: 1px;
    }
    .banner__block {
        max-width: 391px;
        padding: 65px 42px 65px 340px;
    }
    .banner__decor_1 {
        right: 156px;
        top: 53px;
    }
    .banner__decor_2 {
        bottom: 58px;
    }
    .banner__block .reg__title {
        max-width: 70%;
    }
    .iconlist__redline {
        right: 230px;
    }
    .iconslist {
        max-width: 900px;
    }
    .iconlist__decor_1 {
        right: 350px;
    }
    .iconslist__text p:first-child {
        margin-top: 13px;
    }
    .iconslist__text p {
        font-size: 24px;
        line-height: 35px;
    }
    .iconlist__decor_2 {
        bottom: 140px;
    }
    .benefits__img-3 {
        top: -140px;
        left: 700px;
    }
    .benefits__img-2 {
        top: -270px;
        left: 92%;
    }
    .benefits__img-1 {
        top: -2px;
        left: -876px;
    }
    .container__description {
        max-width: 900px;
    }
    .contact__block {
        margin: 0 auto;
        max-width: 900px;
    }
    .container__projects {
        max-width: 900px;
    }
    .projects .banner__decor_2 {
        bottom: -142px;
    }
    .projects .banner__decor_1 {
        right: 0px;
    }
    .container__contacttitle {
        max-width: 900px;
    }
    .container__contacttext {
        margin-top: 100px;
        max-width: 56%;
    }
    .container__contacttext .reg__title {
        max-width: 100%;
        margin-top: 28px;
        padding-bottom: 55px;
    }
    .container__form {
       padding-bottom: 150px;
    }
    .form {
        display: block;
        position: relative;
        width: 600px;
        margin: 0 auto;
    }
    .form__input {
        width: 100%;
    }
    .form__block {
        margin-top: 0;
        padding: 60px 60px 0px 60px;
        display: flex;
        flex-wrap: wrap;
    }
    .container__contacttext .banner__decor_1 {
        right: -406px;
    }
    .container__contacttext .banner__decor_2 {
        bottom: -785px;
    }
    .footer__block p {
        display: block;
    }
    .footer__social :nth-child(2) {
        margin-left: 0px;
    }
    .footer_phone .reg__title:last-child {
        margin-left: 0px;
    }
    .footer__email .reg__title:last-child {
        margin-left: 0px;
    }
    .footer__contacts .big__title {
        margin-top: 100px;
    }
    .footer__contacts {
        max-width: 900px;
    }
    .footer__contacts .banner__decor_1 {
       right: 0px;
    }
    .footer__width {
        max-width: 900px;
    }
}

@media screen and (max-width: 900px) {
    .container__header {
        max-width: 800px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #2155ee;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #2155ee;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0px;
    }
    .header__burger:after {
        bottom: 0px;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .menu__nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding-top: 70px;
        transition: all 0.3s ease 0s;
        z-index: -5;
    }
    .menu__nav.active {
        top: 0;
        display: flex;
        justify-items: center;
        top: -41px;
    }
    .menu__navigate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .menu__navigate li{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 29px;
        font-size: 60px;
        padding: 44px;
    }
    .menu__navigate li {
        margin-right: 30px;
    }
    .menu__language {
        margin-left: 50px;
    }
    .banner {
        max-width: 800px;
    }
    .banner_img {
        background-size: 180px;
        left: 30px;
        top: 135px;
        width: 270px;
        height: 520px;
        padding: 1px;
    }
    .banner__block {
        max-width: 100%;
        padding: 65px 42px 65px 370px;
    }
    .banner__decor_1 {
        right: 150px;
        top: 53px;
    }
    .banner__decor_2 {
        bottom: 58px;
        left: 370px;
    }
    .banner__block .reg__title {
        max-width: 70%;
    }
    .iconlist__redline {
        right: 230px;
    }
    .iconslist {
        max-width: 800px;
    }
    .iconslist__item {
        width: 26%;
    }
    .iconlist__decor_1 {
        right: 250px;
    }
    .iconslist__text {
        max-width: 100%;
    }
    .iconslist__text p:first-child {
        margin-top: 13px;
    }
    .iconslist__text p {
        font-size: 24px;
        line-height: 35px;
    }
    .iconlist__decor_2 {
        bottom: -172px;
    }
    .benefits__text .big__title {
        font-size: 50px;
    }
    .benefits__block {
        max-width: 50%;
        padding-left: 24%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .benefits__img-3 {
        top: -140px;
        left: 700px;
    }
    .benefits__img-2 {
        top: -270px;
        left: 92%;
    }
    .benefits__img-1 {
        top: -2px;
        left: -876px;
    }
    .container__description {
        max-width: 800px;
    }
    .contact__block {
        margin: 0 auto;
        max-width: 800px;
        align-items: center;
    }
    .contact__block p {
        max-width: 52%;
    }
    .banner__btn {
        margin-right: 0;
    }
    .container__projects {
        max-width: 800px;
    }
    .projects .banner__decor_2 {
        bottom: -142px;
    }
    .projects .banner__decor_1 {
        right: 0px;
    }
    .container__contacttitle {
        max-width: 800px;
    }
    .container__contacttext {
        margin-top: 100px;
        max-width: 56%;
    }
    .container__contacttext .reg__title {
        max-width: 100%;
        margin-top: 28px;
        padding-bottom: 55px;
    }
    .container__form {
       padding-bottom: 150px;
    }
    .container__form {
        overflow: hidden;
    }
    .form {
        display: block;
        position: relative;
        width: 600px;
        margin: 0 auto;
    }
    .form__input {
        width: 100%;
    }
    .form__block {
        margin-top: 0;
        padding: 60px 60px 0px 60px;
        display: flex;
        flex-wrap: wrap;
    }
    .container__contacttext .banner__decor_1 {
        right: -352px;
    }
    .container__contacttext .banner__decor_2 {
        bottom: -785px;
    }
    .footer__block p {
        display: block;
    }
    .footer__social :nth-child(2) {
        margin-left: 0px;
    }
    .footer_phone .reg__title:last-child {
        margin-left: 0px;
    }
    .footer__email .reg__title:last-child {
        margin-left: 0px;
    }
    .footer__contacts .big__title {
        margin-top: 100px;
    }
    .footer__contacts {
        max-width: 800px;
    }
    .footer__contacts .banner__decor_1 {
       right: 0px;
    }
    .footer__width {
        max-width: 800px;
    }
}
@media screen and (max-width: 768px) {
    .container__header {
        max-width: 700px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #2155ee;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #2155ee;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0px;
    }
    .header__burger:after {
        bottom: 0px;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .menu__nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding-top: 70px;
        transition: all 0.3s ease 0s;
        z-index: -5;
    }
    .menu__nav.active {
        top: 0;
        display: flex;
        justify-items: center;
        top: -41px;
    }
    .menu__navigate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .menu__navigate li{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 29px;
        font-size: 50px;
        padding: 15px;
    }
    .menu__navigate li {
        margin-right: 30px;
    }
    .menu__language {
        margin-left: 50px;
    }
    .banner {
        max-width: 700px;
    }
    .banner_img {
        display: block;
        background-size: 38px;
        left: -102px;
        top: -40px;
        width: 350px;
        height: 657px;
        padding: 20px;
        background-image: url(img/imgHeader-3.png);
        background-position: center;
        background-color: transparent;
        box-shadow: none;
    }
    .triangle-right {
        display: none;
    }
    .banner__block {
        max-width: 100%;
        padding: 50px 100px 50px 190px;
    }
    .banner__block .reg__title {
        display: flex;
        justify-content: flex-start;
        padding-left: 0px;
    }
    .banner__block .big__title {
        width: 50%;
    }
    .banner__buttons {
        display: flex;
        justify-content: space-between;
    }
    .banner__decor_1 {
        right: 240px;
        top: 39px;
    }
    .banner__decor_2 {
        bottom: 44px;
        left: 78px;
    }
    .head__lineblue {
        top: 640px;
        left: -101px;
    }
    .banner__block .reg__title {
        max-width: 70%;
    }
    .iconlist__redline {
        right: -60px;
        top: 40px;
    }
    .iconslist {
        max-width: 700px;
    }
    .iconslist__item {
        width: 26%;
    }
    .iconlist__decor_1 {
        right: 160px;
    }
    .iconslist__text {
        max-width: 100%;
    }
    .iconslist__text p:first-child {
        margin-top: 13px;
    }
    .iconslist__text p {
        font-size: 24px;
        line-height: 35px;
    }
    .iconlist__decor_2 {
        bottom: -172px;
    }
    .benefits__text .big__title {
        font-size: 50px;
    }
    .benefits__block {
        max-width: 50%;
        padding-left: 24%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .benefits__img-3 {
        top: -140px;
        left: 700px;
    }
    .benefits__img-2 {
        top: -270px;
        left: 92%;
    }
    .benefits__img-1 {
        top: -2px;
        left: -876px;
    }
    .container__description {
        max-width: 700px;
    }
    .contact__block {
        margin: 0 auto;
        max-width: 700px;
        align-items: center;
    }
    .contact__block p {
        max-width: 52%;
    }
    .banner__btn {
        margin-right: 0;
    }
    .container__projects {
        max-width: 700px;
    }
    .projects .banner__decor_2 {
        bottom: -142px;
    }
    .projects .banner__decor_1 {
        right: 0px;
    }
    .container__contacttitle {
        max-width: 700px;
    }
    .container__contacttext {
        margin-top: 100px;
        max-width: 56%;
    }
    .container__contacttext .reg__title {
        max-width: 100%;
        margin-top: 28px;
        padding-bottom: 55px;
    }
    .container__form {
       padding-bottom: 150px;
    }
    .container__form {
        overflow: hidden;
    }
    .form {
        display: block;
        position: relative;
        width: 600px;
        margin: 0 auto;
    }
    .form__input {
        width: 100%;
    }
    .form__block {
        margin-top: 0;
        padding: 60px 60px 0px 60px;
        display: flex;
        flex-wrap: wrap;
    }
    .container__contacttext .banner__decor_1 {
        right: -352px;
    }
    .container__contacttext .banner__decor_2 {
        bottom: -785px;
    }
    .footer__block p {
        display: block;
    }
    .footer__social :nth-child(2) {
        margin-left: 0px;
    }
    .footer_phone .reg__title:last-child {
        margin-left: 0px;
    }
    .footer__email .reg__title:last-child {
        margin-left: 0px;
    }
    .footer__contacts .big__title {
        margin-top: 100px;
    }
    .footer__contacts {
        max-width: 700px;
    }
    .footer__contacts .banner__decor_1 {
       right: 0px;
    }
    .footer__width {
        max-width: 700px;
    }
}

@media screen and (max-width: 425px) {
    .container__header {
        max-width: 400px;
    }
    .projects__logo img {
        width: 150px;
    }
    .banner {
        max-width: 400px;
    }
    .banner__block {
        max-width: 100%;
        padding: 42px 20px 50px 20px;
    }
    .banner__decor_1 {
        right: 28px;
        top: 36px;
    }
    .banner__decor_2 {
        bottom: 34px;
        left: 19px;
    }
    .iconlist__decor_1 {
        right: 19px;
        top: -59px;
        font-size: 50px;
    }
    .iconlist__redline {
        display: none;
    }
    .banner__block .reg__title {
        max-width: 61%;
        padding-left: 60px;
    }
    .banner_img {
        display: none;
    }
    .iconslist {
        max-width: 400px;
        padding-top: 50px;
    }
    .big__title {
        font-size: 40px;
    }
    .mid__title {
        font-size: 24px;
    }
    .reg__title {
        font-size: 18px;
        line-height: 27px;
    }
    .iconslist__item {
        width: 46%;
        padding-bottom: 25px;
    }
    .iconslist__items {
        margin-top: 50px;
    }
    .container__description {
        max-width: 400px;
    }
    .container__description__block {
        padding: 50px 20px;
        margin-bottom: 50px;
    }
    .container__description__block p{
        font-size: 24px;
        line-height: 35px;
    }
    .benefits__img-1 {
        display: none;
    }
    .benefits__block {
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 7%;
    }
    .benefits__text .big__title {
        font-size: 40px;
        margin-top: 20px;
    }
    .benefits__text .reg__title {
        margin-top: 50px;
    }
    .contact__block {
        margin: 0 auto;
        max-width: 400px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px 0px 50px 0px;
    }
    .contact__block p {
        max-width: 100%;
        padding-bottom: 50px;
        line-height: 30px;
    }
    .container__projects {
        max-width: 400px;
    }
    .projects {
        margin-top: 50px;
    }
    .projects__items {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .projects__item {
        max-width: 100%;
        margin-bottom: 50px;
        -webkit-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
        -moz-box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
        box-shadow: 35px 25px 50px 0px rgba(229,232,237,1);
    }
    .projects__logo {
        margin-top: 50px;
    }
    .container__contacttitle {
        max-width: 400px;
    }
    .container__form {
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .container__contacttext {
        margin-top: 50px;
        max-width: 100%;
    }
    .container__contacttext .reg__title{
        padding-bottom: 5px;
    }
    .projects .banner__decor_2 {
        bottom: -92px;
    }
    .form {
        width: 100%;
    }
    .form__block {
        padding: 60px 20px 0px 20px;
    }
    .form__input {
        font-size: 20px;
        height: 75px;
    }
    .container__contacttext .banner__decor_2 {
        display: none;
    }
    .footer__contacts {
        max-width: 400px;
    }
    .footer__contacts .big__title {
        margin-top: 50px;
    }
    .footer__block {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .footer_phone {
        margin-bottom: 30px;
    }
    .footer__email {
        margin-bottom: 50px;
    }
    .footer__block .reg__title{
        font-size: 24px;
    }
    .footer_phone .reg__title:last-child {
        margin-top: 20px;
        line-height: 38px;
    }
    .footer__email .reg__title:last-child {
        margin-top: 20px;
        line-height: 38px;
    }
    .footer__social svg {
        margin-top: 20px;
    }
    .footer__container {
        margin-top: 50px;
    }
    .footer__width {
        max-width: 400px;
    }
    .footer__logo {
        flex-direction: column;
        align-items: center;
    }
    
}

@media screen and (max-width: 375px) {
    .container__header {
        max-width: 340px;
    }
    .projects__logo img {
        width: 130px;
    }
    .menu__language {
        margin-left: 40px;
    }
    .menu__langSelect {
        left: -25px;
    }
    .menu__logo:first-child {
        font-size: 28px;
    }
    .banner {
        max-width: 340px;
    }
    .banner__buttons {
        flex-direction: column;
    }
    .banner__btn {
        margin-bottom: 20px;
    }
    .iconslist {
        max-width: 340px;
    }
    .container__description {
        max-width: 340px;
    }
    .benefits__text .big__title {
        font-size: 35px;
        margin-top: 20px;
    }
    .contact__block {
        max-width: 340px;
    }
    .container__projects {
        max-width: 340px;
    }
    .container__contacttitle {
        max-width: 340px;
    }
    .footer__contacts {
        max-width: 340px;
    }
    .footer__width {
        max-width: 340px;
    }
    .footer__logo .reg__title {
        text-align: center;
    }
    .menu__logo img
{
width: 150px;
height:50px;
}
}
@media screen and (max-width: 320px) {
    .container__header {
        max-width: 300px;
    }
    .menu__navigate li{
        font-size: 40px;
        padding: 15px;
        margin-left: 0px;
    }
    .banner__block .reg__title {
        max-width: 93%;
    }
    .menu__language {
        margin-left: 21px;
    }
    .menu__langSelect {
        left: -25px;
    }
    .menu__logo:first-child {
        font-size: 28px;
    }
    .banner {
        max-width: 300px;
    }
    .banner__buttons {
        flex-direction: column;
    }
    .banner__btn {
        margin-bottom: 20px;
    }
    .iconslist {
        max-width: 300px;
    }
    .container__description {
        max-width: 300px;
    }
    .benefits__text .big__title {
        font-size: 35px;
        margin-top: 20px;
    }
    .contact__block {
        max-width: 300px;
    }
    .container__projects {
        max-width: 300px;
    }
    .container__contacttitle {
        max-width: 300px;
    }
    .footer__contacts {
        max-width: 300px;
    }
    .footer__width {
        max-width: 300px;
    }
    .footer__logo .reg__title {
        text-align: center;
    }
    .iconlist__decor_1 {
        right: -2px;
        top: -59px;
        font-size: 50px;
    }
    .iconslist__item {
        width: 100%;
    }
    .item__back {
        padding: 6%;
    }
    .item__front {
        padding: 9%;
    }
    .benefits__text .big__title {
        font-size: 31px;
    }
    .container__description__block p {
        font-size: 20px;
        line-height: 30px;
    }
    .benefits__block {
        max-width: 87%;
        padding-left: 7%;
    }
    .projects__logo img {
        size: 200px;
    }
    .form__input {
        padding-left: 19px;
    }
    .menu__logo img
{
width: 120px;
height:40px;
}
}

